.track-bg {
  width: 100%;
  display: flex;
  padding-top: 10px;
  margin-bottom: 1em;
  padding-inline: 80px;
  flex-direction: column;
  background-color: var(--main-bg-color);
}

.track-doc-input {
  width: 100%;
  border-radius: 20px 10px 10px 10px;
}
.track-header {
  border-radius: 6px 6px 0px 0px;
  padding-block: 1em;
  padding-inline: 2em;
  background-color: hsl(216, 20%, 97%);
}
.track-header-text {
  padding-bottom: 12px;

  span {
    font-weight: 500;
    font-size: 1.2em;
  }
}
.track-input-wrapper {

  .track-input {
    display: flex;
    flex-direction: row;

    .track-button {
      width: 100px;
      box-shadow: none;
      font-family: inherit;
      text-transform: none;
      border-radius: 0px 6px 6px 0px;
      background-color: var(--main-btn-color);
    }
    .track-button:hover {
	 --main-btn-hover: #204682;
      background-color: var(--main-btn-hover);
    }
  }
}
.timeline-bg {
  background-color: hsl(216, 20%, 91%);
}
.timeline-section {
  flex: 1;
  width: 100%;
  display: flex;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  background-color: hsl(216, 20%, 93%);

  .timeline-isEmpty {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: hsl(216, 0%, 80%);

    span {
      font-weight: 500;
    }
  }
}
.doc-svg {
  opacity: 8%;
}
.doc-icon {
  font-size: 100px;
}

.MuiTimelineItem-root::before {
  display: none;
}
#arrow-left{
  padding: 0;
  left: -24px;
  color: #a8a8a8;
  border-radius: 4px 0px 0px 4px;
  background-color: hsl(216, 20%, 97%);
}
#arrow-left:hover {
  background-color: hsl(216, 20%, 95%);
}
.timeline-notEmpty {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  
  .doc-details {
    gap: 16em;
    width: 350px;
    height: 300px;
    padding-top: 2em;
    padding-left: 2em;
    position: relative;
    border-radius: 0 0 0 .6em;
    background-color: hsl(216, 20%, 97%);
    box-shadow: inset -14px -0px 20px 0px rgb(238, 238, 238);

    .doc-header {
      margin-bottom: 1em;
      font-weight: 500;
    }
    .doc-wrap {
      gap: .4em;
      display: flex;
      flex-direction: column;
    }
  }

  .timeline-timeline {
    width: 470px;
    height: 100vh;
    overflow-y: auto;
    padding-top: 2em;
    background-color: hsl(216, 20%, 97%);

    .mui-timeline {
      margin-left: 6.5em;
    }
  }
}
.timeline-details{
  display: flex;
  flex-direction: column;
}
.timeline-head {
  color: rgb(116, 116, 116);
  gap: .5em;
  display: flex;
  align-items: center;
  flex-direction: row;

  #item-and-date,
  #item-status {
    font-size: 14px;
    white-space: nowrap;
  }
}
.timeline-timeline-timeline {
  display: flex;
  flex-direction: row;
}
