.track-bg {
  gap: 1em;
  width: 100%;
  height: 100%;
  display: flex;
  min-width: 790px;
  padding-top: 10px;
  margin-bottom: 1em;
  margin-inline: 80px;
  flex-direction: column;
  background-color: var(--main-bg-color);
}

.track-doc-input {
  width: 100%;
  border-radius: 20px 10px 10px 10px;
}
.track-header {
  border-radius: 6px 6px 0px 0px;
  padding-block: 1em;
  padding-inline: 2em;
  background-color: hsl(216, 20%, 97%);
}
.track-header-text {
  padding-bottom: 12px;
  white-space: nowrap;

  span {
    font-weight: 500;
    font-size: 1.2em;
  }
}
.track-input-wrapper {

  .track-input {
    display: flex;
    flex-direction: row;

    .track-button {
      width: 100px;
      box-shadow: none;
      font-family: inherit;
      text-transform: none;
      border-radius: 0px 6px 6px 0px;
      background-color: var(--main-btn-color);
    }
    .track-button:hover {
	 --main-btn-hover: #204682;
      background-color: var(--main-btn-hover);
    }
  }
}
.timeline-bg {
  background-color: hsl(216, 20%, 91%);
}
.timeline-section {
  flex: 1;
  width: 100%;
  display: flex;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  background-color: hsl(216, 20%, 93%);

  .timeline-isEmpty {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: hsl(216, 0%, 80%);

    span {
      font-weight: 500;
    }
  }
}
.doc-svg {
  opacity: 8%;
}
.doc-icon {
  font-size: 100px;
}

.MuiTimelineItem-root::before {
  display: none;
}
#arrow-left{
  padding: 0;
  left: -24px;
  color: #a8a8a8;
  border-radius: 4px 0px 0px 4px;
  background-color: hsl(216, 20%, 97%);
}
#arrow-left:hover {
  background-color: hsl(216, 20%, 95%);
}
.timeline-notEmpty {
  gap: 1em;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  background-color:  hsl(216, 20%, 95%);
  
  .doc-details {
    width: 470px;
    display: flex;
    min-width: 200px;
    overflow-y: auto;
    border-radius: 6px;
    flex-direction: column;
    height: calc(100% - 233px);
    border-bottom: solid 1px #d8d8d8;
    background-color: hsl(216, 20%, 97%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    .doc-header {
      margin-bottom: 1em;
      font-weight: 500;
    }
    .doc-wrap {
      gap: .4em;
      display: flex;
      flex-direction: column;
    }
    .doc-body {
      gap: 1em;    
      display: flex;
      flex-direction: column;
      padding: .8em 2em .8em 2em;
    }
  }
  .doc-head{
    font-size: 14px;
    font-weight: 500;
    flex-direction: row;
    color: black;
  }
  .doc-head span {
    padding: 0em 2em 0em 2em;
  }
  .doc-head {
    background-color: var(--sidebar-hover-color);
    padding: 2em 0em 1.8em 0em;
  }
  .doc-head2{
    gap: 1em;
    display: flex;
    padding: 2em 2em 2em 2em;
  }
  .doc-head2 span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .doc-section1,
  .doc-section2 {
    display: flex;
    flex-direction: column;
  }
  .doc-section1 {
    display: flex;
    text-align: end;
    color: var(--secondary-font-color);
  }
  .doc-section2 {
    min-width: 30%;
    max-width: 68%;
  }

  .timeline-timeline {
    gap: 2em;
    width: 500px;
    display: flex;
    overflow-y: auto;
    border-radius: 6px;
    flex-direction: column;
    max-height: calc(100% - 233px);
    border-bottom: solid 1px #d8d8d8;
    background-color: hsl(216, 20%, 97%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    .mui-timeline {
      margin-left: 7.5em;
    }
  }
}
.timeline-details{
  display: flex;
  flex-direction: column;
}
.timeline-head {
  gap: .5em;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: rgb(116, 116, 116);

  #item-and-date,
  #item-status {
    font-size: 14px;
    white-space: nowrap;
  }
}
.timeline-timeline-timeline {
  display: flex;
  flex-direction: row;
}

.loading-time {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
