@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
/*----------* global-section *----------*/
 /* * {
	 -webkit-user-select: none;
	 -khtml-user-select: none;
	 -moz-user-select: -moz-none;
	 -o-user-select: none;
	 user-select: none;
} */
 html, body {
	 margin: 0;
	 height: 100%;
}
 html {
	 box-sizing: border-box;
	 --tooltip-bg: #565656;
	 --secondary-bg: #cfd5df;
	 --isClicked-bg: #C2DBFF;
	 --main-bg-color: #f0f2f5;
	 --secondary-bg-color: #e8eaef;
	 --main-btn-color: #2d5594;
	 --main-btn-hover: #204682;
	 --sidebar-hover-color: #e2e6ed;
	 --sidebar-active-color: #d4d9e2;
	 --outlet-bg: #fff;
	 --on-white-hover: #f6f6f6;
	 --on-white-darker-hover: #c2c2c2;
	 --border-bottom-onwhite: #dfdfdf;
	 --secondary-font-color: #969696;
	 --error-color: #dd3d3d;
	 --declined: #c51212;
	 --accepted: rgb(51, 161, 51);
}
 html body {
	 font-family: 'Inter', 'Arial', sans-serif;
	 background-color: var(--main-bg-color);
	 overflow: hidden;
}
 html a {
	 text-decoration: none;
	 color: inherit;
}
 html ul, html li {
	 list-style-type: none;
	 margin: 0;
	 padding: 0;
	 font-size: 15px;
	 font-weight: 500;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--on-white-darker-hover);
}
