.action-btns {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.users-edit,
.users-delete {
  --on-white-darker-hover: #d7d7d7;
  --isChecked-bg-tooltip: #adc2e1;
  padding: 0;
  padding: 12px;
  background-color: transparent;
  visibility: hidden;
}

.users-edit:hover,
.users-delete:hover {
  background-color: var(--on-white-darker-hover);
}

.MuiDataGrid-row.Mui-selected .users-edit:hover,
.MuiDataGrid-row.Mui-selected .users-delete:hover {
  background-color: var(--isChecked-bg-tooltip);
}

.MuiDataGrid-row:hover .users-edit,
.MuiDataGrid-row:hover .users-delete{
  visibility: visible;
}

.user-edit-dept {
  display: flex;
  flex-direction: column;
}
.user-edit-dept label {
  margin-bottom: 4px;
}